@page "/Blog" 
@using System;
@using MudBlazor;

<MudCarousel Class="mud-width-full" Style="height:200px;" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <img src="~/hero.png" class="mx-auto my-auto" style="max-height: 100%; max-width: 100%;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <img src="Images/landscape.jpg" class="mx-auto my-auto" style="max-height: 100%; max-width: 100%;" />
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="transition">
        <div class="d-flex" style="height:100%">
            <img src="Images/landscape.jpg" class="mx-auto my-auto" style="max-height: 100%; max-width: 100%;" />
        </div>
    </MudCarouselItem>
</MudCarousel>

<div class="visme_d" data-title="Simple Blog Subscription" data-url="1jzjxpjm-simple-blog-subscription?fullPage=true"
     data-domain="forms" data-full-page="true" data-min-height="100vh" data-form-id="113786"></div><script src="https://static-bundles.visme.co/forms/vismeforms-embed.js"></script>



@code {
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}