@code {
    // Here you can add any logic specific to the Footer component (if needed).
}
<div class = "footer">
    <div class="footer-content">
    <a class="footer-link" href="https://www.linkedin.com/in/ashwin-adhikari-9066b8182/">
        <i class="fab fa-linkedin"></i> 
            LinkedIn</a>
    <a class="footer-link" href="https://www.facebook.com/crackifyoucan788357492/">
        <i class="fab fa-facebook"></i>
            Facebook</a>
    <a class="footer-link" href="https://github.com/ashwinadhi">
        <i class="fab fa-github-square"></i> 
            Github</a>
    <p class="copyright">© 2024 Ashwin Adhikari.</p>
</div>
</div>