@page "/"

@using System;

<PageTitle>Home</PageTitle>
<!-- Top Container Section -->
<section class="hero">
	<div class="hero-content">
		<h1>My name is <span class="highlight">Ashwin</span></h1>
		<p>I am a Quality Assurance Engineer with more than 2 years of experience</p>
		<button class="hire-btn">Hire Me</button>
	</div>
	<div class="hero-image">
		<img src="pic.jpg" alt="Jacob">
		<div class="experience">2+ years experience</div>
	</div>
</section>


<Projects ></Projects>
   
<Skills>  </Skills>

<Blog>  </Blog>



<!-- Middle Container Section -->
@* <div id="middle-container">
	<div class="profile">
		<img class="me" src="images/ashwin.png" alt="ashwin-png" />
		<h2 class="git">Olá.</h2>
		<p class="intro">I graduated with a BSc in Computer Science and Information Technology from Deerwalk Institute of Technology situated at Sifal (near Chabhail).</p>
	</div>
	<hr />
    </div> *@

	<!-- Timeline Section -->
	@* <div id="Timeline" style="padding-top:0;">
        <h2 id="timeline-heading">Timeline</h2>
        <div class="timeline">
            <table border="1">
                <tr>
                    <td class="td">May 2024 - Present</td>
                    <td class="tab">Working as a Quality Assurance Tester as an Intern.</td>
                </tr>
                <tr>
                    <td class="td">Jan 2022 - Feb 2024</td>
                    <td class="tab">Worked as a Consultant Team Lead in Cerotid as a Full-Time Employee.</td>
                </tr>
                <tr>
                    <td class="td">Aug 2021 - Jan 2022</td>
                    <td class="tab">Worked as a Junior/Senior Consultant.</td>
                </tr>
                <tr>
                    <td class="td">Aug 2020 - Apr 2021</td>
                    <td class="tab">Worked as a Stock Broker Officer in Linch Stock Market.</td>
                </tr>
                <tr>
                    <td class="td">Jan 2020 - Jul 2020</td>
                    <td class="tab">Worked as a Stock Associate in Linch Stock Market.</td>
                </tr>
                <tr>
                    <td class="td">2-5 June 2020</td>
                    <td class="tab">Attended the YouCon2.O International Conference on YouTubing and Content Creation.</td>
                </tr>
                <tr>
                    <td class="td">April 2020</td>
                    <td class="tab">Completed the "Introduction to Cybersecurity" course by Cisco Networking Academy.</td>
                </tr>
                <tr>
                    <td class="td">February 2020</td>
                    <td class="tab">Attended a one-day workshop on Camera Handling held by DWIT.</td>
                </tr>
                <tr>
                    <td class="td">January 2020</td>
                    <td class="tab">Attended a two-day workshop on Adobe Premiere Pro held by DWIT.</td>
                </tr>
                <tr>
                    <td class="td">2019</td>
                    <td class="tab">Attended a two-day workshop on Adobe Photoshop held by DWIT.</td>
                </tr>
                <tr>
                    <td class="td">2019</td>
                    <td class="tab">Joined BSc. in Computer Science and Information Technology from the Institute of Science and Technology, Tribhuvan University.</td>
                </tr>
            </table>
        </div>
    </div>
    <hr />
 *@
@* 	
	<!-- Skills Section -->
	<div class="skill-row">
		<img class="design" src="images/design.png" alt="design" />
		<h3 class="dnd">Design and Development</h3>
		<p class="tab">I started learning to code when I was 17 because I wanted to make my own game. Over time, I have gained a wealth of experience designing and developing mobile and web applications.</p>
	</div>
	<div class="skill-row">
		<img class="video-edit" src="images/editing.png" alt="video-editing" />
		<h3 class="ve">Video Editing</h3>
		<p class="tab">The process of editing is what I enjoy most - putting the pieces together and making sense of them. Don't let old recordings you made long ago go to waste!</p>
	</div>

	<p class="game">
		Bored? Wanna play a game?<br />
		<a class="btn" href="dicee.html">Click on it.. <i class="far fa-arrow-alt-circle-right"></i></a>
	</p>
</div>
<hr />

<!-- Contact Section -->
<div class="contact-me">
	<i class="icon fas fa-fingerprint fa-4x"></i>
	<h2 class="git">Get In Touch</h2>
	<h3 class="tab">If you love coding and video editing as much as I do.</h3>
	<p class="contact-message">Love coding and editing? Let's share some of the experiences!</p>
	<a class="btn" href="mailto:ashwinadhikari3@gmail.com">CONTACT ME</a>
</div>

 *@
<Footer />