@page "/project"

<section class="projects">
	<h2>Latest Projects</h2>
	<div class="projects-grid">
		<div class="project-card">
			<a href="https://github.com/ashwinadhi/sajilo-paisa" class="project-link">
			<img src="sajilo.png" alt="Sajilo Paisa">
			<p class="project-title">Sajilo Paisa</p>
			<div class="project-number">01</div>
			</a>
		</div>
		
		<div class="project-card">
			<a href="https://github.com/ashwinadhi/faceMaskDetection"class="project-link">
			<img src="face.jpg" alt="Face-Mask">
			<p class="project-title">Face mask detection system</p>
			<div class="project-number">02</div>
			</a>
			</div>
			
		<div class="project-card">
			<a href="https://github.com/ashwinadhi/bloodBankManagementSystem" class="project-link">
			<img src="bbms.jpg" alt="BBMS">
			<p class="project-title">Blood bank management system</p>
			<div class="project-number">03</div>
			</a>
		</div>
		<div class="project-card">
			<a href="https://github.com/ashwinadhi/Cero-Timesheet-" class="project-link">
				<img src="timesheet.png" alt="Cero-Timesheet">
				<p class="project-title">TimeSheet Management Software</p>
				<div class="project-number">04</div>
			</a>
		</div>
	</div>
</section>