@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<div class="page">
    <main>
       <div class="top-row px-4">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="assest/Ashwin_QA_Resume.pdf">Timeline</a>
            <a href="mailto:adhikariadhikari965@gmail.com">Contact-Me</a>
            <a href="https://www.linkedin.com/in/ashwin-adhikari-9066b8182/">Know More?</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
 