@inherits LayoutComponentBase


<div class="page">
    <main>
       <div class="top-row px-4">
            <a href="" target="_blank">Home</a>
            <a href="" target="_blank">About</a>
            <a href="" target="_blank">Timeline</a>
            <a href="mailto:adhikariadhikari965@gmail.com" target="_blank">Contact-Me</a>
            <a href="" target="_blank">Know More?</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
 